<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AppRefiner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CodeFolder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AppRefiner.Properties.Settings>
            <setting name="initCollapsed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="onlyPPC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="betterSQL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoDark" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lintAnnotate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StylerStates" serializeAs="String">
                <value>[]</value>
            </setting>
            <setting name="LinterStates" serializeAs="String">
                <value>[]</value>
            </setting>
            <setting name="LintReportPath" serializeAs="String">
                <value>LintingReports</value>
            </setting>
            <setting name="PluginDirectory" serializeAs="String">
                <value>Plugins</value>
            </setting>
            <setting name="autoIndent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoPair" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GitRepositoryPath" serializeAs="String">
                <value></value>
            </setting>
        </AppRefiner.Properties.Settings>
        <CodeFolder.Properties.Settings>
            <setting name="initCollapsed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="onlyPPC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="betterSQL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoDark" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="codeAnalysis" serializeAs="String">
                <value>False</value>
            </setting>
        </CodeFolder.Properties.Settings>
    </userSettings>
</configuration>